.img-upsell{
    height: 195px !important;
    width: 450px !important;
}

/* ScrollUp */

#scrollUp {
    background-color: #fbb710;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: $white-color;
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    right: 60px;
    text-align: center;
    width: 40px;
    @include trans-duration(500ms);
   
    @media #{$breakpoint-xs} {
        bottom: 30px;
        right: 30px;
    }
}

#scrollUp:hover{
     background-color: #000;
}
